@import "tailwindcss";

@media print {
  body {
    background-color: #ffffff !important;
    color: #000000 !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  header, nav, .print\:hidden {
    display: none !important;
  }

  main {
    max-width: 100% !important;
    padding: 0 !important;
    margin: 0 !important;
  }

  @page {
    size: A4 portrait;
    margin: 10mm 15mm 10mm 15mm;
  }
}
